.datatable-spacing {
        margin-bottom: 20px; /* Add margin at the bottom of the datatable */
}

.button-spacing {
        margin-top: 20px; /* Add margin at the top of the button */
}
.dummy{
	color : black;
}